<div class="sing-student-container with-footer">
        <h4 class="">
            Student Name: {{studentName}}
        </h4>
    <div class="row student-goals-container">
    

        {{#each studentGoals as |studentGoal|}}
        <div class="card col s5 goal-card" style="border: 3px #516360 solid;">
            <div class="table-header margin-collapse">

                <div class="table-info">
                    <div class="goal-info-container">
                        <h5 class="card-title student-goal-title">{{studentGoal.goal.name}}</h5>
                        <p>{{studentGoal.goal.description}}</p>
                    </div>
                    <div class="add-trial-container">
                        <a href="/students/trial-submit/{{studentGoal.id}}" class="btn waves-effect waves-light">Data
                            <i class="material-icons left">add_circle_outline</i>
                        </a>
                    </div>
                </div>
            </div>
            <table class="striped responsive-table table-height">
                <thead>
                    <tr>

                        <th>Trial Date</th>
                        <th>Successful Trials</th>
                        <th>Percentile Score</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each studentGoal.trials as |trial|}}
                    <tr>

                        <td>{{trial.date}}</td>
                        <td>{{trial.successful}}</td>
                        <td>{{trial.percent}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/each}}

    </div>
</div>


<footer class="new-post-footer sticky-footer stack-top">
    <a class="waves-effect waves-light btn stack-top" href="/students/add-studentgoal/{{studentId}}">Student Goal
    <i class="material-icons left">add_circle_outline</i>
    </a>

</footer>


{{!-- <th>Goal</th>
<th>Goal Description</th>
<td></td>
<td></td> --}}

{{!--
<div class="wrapper" style="border: 3px #516360 solid;">
    <div class="student-name-wrapper">
        <h2 class="student-name" style="border: 3px #516360 solid;"> {{studentName}} </h2>
    </div>

    <a class="waves-effect waves-light btn modal-trigger" href="/students/add-studentgoal/{{studentId}}">Add Goal to
        Student</a>
    {{#if studentGoals }}
    <div class="goals-wrapper">
        {{#each studentGoals as |studentGoal|}}
        <div class="goals-input">
            <h4> {{studentGoal.goal.name}} </h4>
            <p> {{studentGoal.goal.description}} </p>
        </div>


        <a href="/students/trial-submit/{{studentGoal.id}}" class="btn waves-effect waves-light">+ Trial Data</a>

        <div class="student-trials">
            {{#each studentGoal.trials as |trial|}}
            <h4> Date of Trials </h4>
            <p> {{trial.date}} </p>
            <h4> Successful Trials </h4>
            <div>
                <p> {{trial.successful}} </p>
                <p> {{trial.percent}} </p>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div> --}}




<script src="/javascript/single-student.js"></script>